<div class="spec-box" v-for="(option, optionIndex) in product.item_option" :key="optionIndex">
    <table>
        <!--옵션그룹,옵션일괄설정-->
        <thead>
        <tr>
            <!--그룹명 영역-->
            <th style="background-color: #ebeff0;">
                <div class="spec-option-group">
                    <span class="spec-font">옵션그룹{{optionIndex + 1}}</span>
                    <a-input class="spec-option-input-size"  v-model:value="option.name" size="default" placeholder="옵션그룹" />
                    <span class="spec-count"><span :style="option.name.length > 25 ? 'color:red;' : ''">{{ option.name.length }}</span> / 25</span>
                    <a-button @click="deleteSpecGroup(optionIndex)" class="spec-grop-delete" type="primary" danger>삭제</a-button>
                </div>
            </th>
        </tr>
        <tr>
            <!--옵션값 일괄 설정 영역-->
            <th>
                <div class="spec-option-header">
                    <div class="spec-option-left">
                        <a-checkbox class="spec-checkbox" v-model:checked="selectAll" @change="onCheckAllChange()"></a-checkbox>
                        <span class="spec-font">옵션명</span>
                    </div>
                    <div class="spec-option-button">
                        <a-button class="spec-right-button" type="primary">삭제</a-button>
                        <a-button class="spec-right-button" type="primary">빈칸</a-button>
                        <a-button class="spec-right-button" type="primary">특문</a-button>
                        <a-button class="spec-right-button" type="primary">25자</a-button>
                        <a-button class="spec-right-button" type="primary">순번</a-button>
                        <a-button class="spec-right-button" type="primary">A-Z</a-button>
                        <a-button type="primary">Back</a-button>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <!--옵션명 영역-->
        <tbody>
        <tr v-for="(item, index) in option.data" :key="item.key">
            <td>
                <div class="spec-option-name">
                    <a-checkbox class="spec-checkbox" v-model:value="item.key"></a-checkbox>
                    <a-input class="input-size"  v-model:value="item.name" size="default" placeholder="옵션명" />
                    <span class="spec-count"><span :style="item.name.length > 25 ? 'color:red;' : ''">{{ item.name.length }}</span> / 25</span>
                    <a-button @click="addSpecOptionName(optionIndex)" v-if="option.data.length === (index + 1)" class="spec-add-option-name-button" type="primary">추가</a-button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>