body {
    margin: 0;
    padding: 0;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/*  배경색  */
.popup_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.8);
    z-index: 9998;
}

/*  팝업 창  */
.popup_box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 740px;
    height: 700px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    z-index: 9999;
}

.popup_title {
    width: 100%;
    height: 65px;
    background: #6bbbfa;
}

.popup_title .title {
    float: left;
    margin: 10px 0 0 20px;
}

.popup_title .title .img {
    float: left;
}

.popup_title .title .text {
    float: left;
    font: 18px/42px 'NanumGothic';
    color: #fff;
    margin: 0 0 0 10px;
}

.popup_title .title img {
    width: 42px;
}

/*  팝업 닫기 버튼 start  */
.popup_title .cross_btn {
    float: right;
    margin: 15px 20px 0 0;
}

.cross {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}

.cross:before,
.cross:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #fff;
}

.cross:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*  팝업 닫기 버튼 end  */

/*  팝업 내용  */
.popup_cont {
    width: 100%;
    height: 633px;
    overflow-y: scroll;
}

.popup_cont .content {
    padding: 50px 30px;
}

.popup_cont .content .title {
    background: #838b8e;
    height: 40px;
}

.popup_cont .content .title .text {
    float: left;
    padding: 0 0 0 20px;
    font: 15px/40px 'NanumGothic';
    color: #fff;
}

.popup_cont .content .title .hidden {
    float: right;
    display: block;
    width: 40px;
    height: 40px;
    border-left: 1px solid #fff;
}


.popup_cont .content .arrow-right {
    margin: 17px 0 0 14px;
    width: 10px;
    height: 10px;
    background-color: transparent; /* 模块背景为透明 */
    border-color: #fff;
    border-style: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(315deg); /*箭头方向可以自由切换角度*/

}

.popup_table {
    padding-bottom: 30px;
}

.popup_table .table {
    width: 100%;
    border-collapse: collapse;
}

.popup_table .table th {
    text-align: left;
    padding: 10px;
    height: 40px;
    background: #f3f3f3;
    border-bottom: 1px solid #e2e2e2;
    font: 14px/26px 'NanumGothic';
    color: #000;
}

.popup_table .table th span {
    color: red;
}

.popup_table .table td {
    padding: 10px 0 10px 10px;
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
    font: 14px/26px 'NanumGothic';
    color: #000;
}

.select_type1 {
    width: 236px;
    height: 32px;
    border: 1px solid #d2d2d2;
    color: #838b8e;
}

.text_input_type1 {
    width: 120px;
    height: 32px;
    text-indent: 10px;
    border: 1px solid #d2d2d2;
    font: 14px/18px 'NanumGothic';
    color: #000;
}

.text_input_type2 {
    width: 120px;
    height: 32px;
    text-indent: 10px;
    border: 1px solid #d2d2d2;
    font: 14px/18px 'NanumGothic';
    color: #888;
}

.popup_text1 {
    font: 12px/18px 'NanumGothic';
    color: #000;
}

.popup_text1 span {
    color: red;
}

/* radio_style start */
.radio_input_type1 {
    display: none;
}

.radio_input_type1 + label {
    display: inline-block;
    position: relative;
    top: 6px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #d2d2d2;
}

.radio_input_type1 + label:before {
    border-radius: 50%;
    background: #5eb3f5;
}

.radio_input_type1:checked + label {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 2px solid #5eb3f5;
}

.radio_input_type1:checked + label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
}
/* 라디오 end */